[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pathlib = "*"
numpy = "==1.21.6"
pandas = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.9"
