[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pathlib = "==1.0.1"
numpy = "==1.21.6"
pandas = "==1.3.5"
streamlit = "*"
ez-setup = "*"

[dev-packages]

[requires]
python_version = "3.7"
